.fancy-button {
    position: absolute;
    top: -1rem;
    left: 4rem; //calc(45vw - 75px);
    width: 150px;
    padding: .2rem 0;
    text-align: center;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 14pt;
    color: white;
    background-color: gray;
    &:hover {
        font-style: italic;
        font-weight: bold;
        box-shadow: 1px 4px 15px black;
    }
}

.green {
    background-color: rgb(20, 163, 20);
}

.blue {
    background-color: rgb(24, 24, 150);
}